<?xml version="1.0"?>
<!--
    /**
     * Author: Chandravadana Kandregula.
     * Dated: 01 Feb 2020
     */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Chandu_M2Concepts" setup_version="1.0.0"/>
</config>
